{% block content %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static',filename='styles.css') }}"
    />
  </head>
  <body>
    <h1>Home</h1>
    <div style="margin-left: 20px">
      <h2>Enter an integer value</h2>
      <form action="/calculate" method="POST">
        <label>Enter Number:</label>
        <input type="text" id="number" name="number" required />
        <button type="submit" value="submit">Submit</button>
      </form>
    </div>
  </body>
</html>

{% endblock %}
